<div class="firstpage" style="text-align:center">
  <div class="text">
    <p><font size="16">SATVIK KAUSHAL</font></p>
    <div class="designation"><h2>Junior Associate Consultant</h2></div><br><br><br>
    <a class="scroll" href="#four"><b>Scroll Down</b>
      <img src="https://static.wixstatic.com/media/1dd06e_e4d7c7ba66274497bb1a06974714f93d~mv2.gif" class="rounde mx-auto d-block" width="14" height="16"alt="..."></a><br><br><br><br><br><br><br>
  </div>
  <div id="1">
  <div class="about"><h2 style="font-weight: 700">ABOUT ME<br></h2>
    <p>GET TO KNOW ME</p>
    <hr width=85% style="border: 1px solid black">
    <div class="about-text">{{about}}<br><br>
      <br>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy9f-h5eVN7Ti0tXZbHnGyo8H2XvBr1fZtymBOfud01uGiba-2" class="rounded-circle mx-auto d-block" width="224" height="176" alt="...">
      <!-- <img class="about-image" src="https://wallpapercave.com/wp/wp2697009.jpg" class="rounded-circle" alt="Cinque Terre" width="204" height="176"> -->
      <!-- <img src="cinqueterre.jpg" class="rounded-circle" alt="Cinque Terre" width="304" height="236">  -->
      <br><br><br><h2 style="text-align: center">MY SKILLS<br></h2>
      
    </div>
      <div class="skills">
          <div class="row">
              <div class="col-sm-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1oxWmikIC4EA2I-fcdnyv6hW2vnU8xa1IsX1vLzE9-EAgMfb8" class="rounde mx-auto d-block" width="50" height="50"alt="..."><br><h4>Programming</h4><br>C,C++<br>Java<br>Python</div>
              <div class="col-sm-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFi7fXIdSFkbmXsfCAR-wxjmRRTcKjlKZ3g6y637kqrdElPE1w" class="rounde mx-auto d-block" width="50" height="50"alt="..."><br><h4>Web Development</h4><br>HTML,CSS<br>JavaScript<br>Bootstrap</div>
              <div class="col-sm-4"><img src="https://cdn3.iconfinder.com/data/icons/database-35/66/5-512.png" class="rounde mx-auto d-block" width="50" height="50"alt="..."><br><h4>Tools</h4><br>Eclipse,Unity<br>SublimeText<br>VScode,Visual studio</div>
            </div>
      </div>
      <!-- <i class="fa fa-user-secret not-white"></i>satvik -->
    </div>
  </div>
</div>