<div class="secondpage">
  <br>
        <h2  class="r"style="text-align: center">RESUME</h2>
        <p style="text-align: center">ASSOCIATIONS THAT HELPED ME GAIN KNOWLEDGE</p>
        <hr width=85% style="border: 1px solid black">
        <div class="resume-text"><img src="https://media.glassdoor.com/sqll/1704869/rythmos-squarelogo-1522179692487.png"  width="200" height="150" alt="...">
               <div style="text-align: justify">RYTHMOS WORK EXPERIENCE Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum ut, ullam rem incidunt molestiae perspiciatis asperiores itaque, voluptas animi odit necessitatibus delectus iure quisquam vitae beatae quos. Necessitatibus, cupiditate Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, distinctio quas sunt labore eum dolorum sequi provident in aliquid officia nemo beatae hic doloremque eius nulla ullam illum tempora libero!<br>
                <br>
                <h3>MY EDUCATION</h3>
                <!-- <button type="button" (click)="edu()">MY EDUCATION</button> -->
                <table class="table">
                                <thead class="thead-dark">
                                  <tr>
                                    
                                    <th scope="col">Degree</th>
                                    <th scope="col">University</th>
                                    <th scope="col">Marks</th>
                                    <th scope="col">Year of Passing</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr  *ngFor="let i of education">
                                    <td>{{i[0]}}</td>
                                    <td>{{i[1]}}</td>
                                    <td>{{i[2]}}</td>
                                    <td>{{i[3]}}</td>
                                  </tr>
                                </tbody>
                              </table>

        </div> 
</div>
<br>
<br>